.App {
    text-align: center;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    /* background-image: linear-gradient(79deg, #b4fd9b, #ade968 48%, #b4fd9b); */
    background-color: #BDCDCB;
    color: #393939;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
  }
  
  .auth-form-container,
  .sign-in-form,
  .sign-up-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .auth-form-container {
    /* position: relative; */
    background: rgba(255, 255, 255, 0.5);

  }
  @media screen and (min-width: 600px) {
    .auth-form-container {
      padding: 5em;
      border: 1px solid white;
      border-radius: 30px;
      margin: 0.5rem;
    }
  }
  
  label {
    text-align: left;
    padding: 0.5rem 0 0 0;
    margin: 0.5rem 0;
    font-weight: bold;
    
  }
  input {
    margin: 0.5rem 0;
    padding: 1rem;
    border: none;
    border-radius: 10px;
    
  }
  
  button {
    border: none;
    background: #779341;
    /* padding: 20px; */
    border-radius: 10px;
    cursor: pointer;
    color: white;
    width: 150px;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 1000;
    font-size: 16px;
    /* line-height: 24px; */
    height: 55px;
  }
  .button-container {
    display: flex;
    flex-direction: row-reverse;
  }
  
  .link-btn {
    background: none;
    color: #8D8D8D;
    font-size: 13px;
    text-align: right;
  
    /* position: absolute;
    top: 0;
    right: 0; */
  }
  .link-btn p {
    color: #779341;
  }
  .main {
    text-align: left;
  }
  

  .title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }